*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(0, 54, 130);
    color: blanchedalmond;
    font-family: sans-serif;
    font-size: 1cap;
    padding: 20px;
}

.div-logout-btn{
    /* border: solid #af0707; */
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 90px;
    padding: 20px 30px 10px 0px;
}

.logout-btn{
    position: sticky;
    top: 100%;
    padding: 7px 20px;
    color: antiquewhite;
    border: none;
    background-color: rgb(32, 118, 232);
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 2px 10px rgb(79, 154, 253);
}

.calculator{
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;height: 90vh;
}

.main-calculator{
    padding: 20px;
    background: linear-gradient(120deg, #7476f4, #9394e2);
    border-radius: 10px;
    font-family: sans-serif;
    color: #2c2d50;
}
input{
    font-weight: 900;
    font-size: 30px;
    padding: 10px;
    background: none;
    color: #f0efef;
    border: #505082 solid;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px #2c2d50;
    outline: none;
    text-align: right;
    width: 100%;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 20px;
}
button{
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 800;
    box-shadow: 0 0 10px #f0efef;
    border: none;
    background: linear-gradient(120deg, #7476f4, #9394e2);
    border-radius: 10px;
    color: #fff;
}