*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

nav{
    background-color: rgb(0, 54, 130);
    color: blanchedalmond;
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 50px;
    /* padding: 20px; */
}

.div-logout-btn{
    /* border: solid #af0707; */
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 90px;
    padding: 20px 30px 10px 0px;
}

.logout-btn{
    position: sticky;
    top: 100%;
    padding: 20px 50px;
    color: antiquewhite;
    border: none;
    background-color: #2076e8;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 2px 10px rgb(79, 154, 253);
    margin-left: -60px;
    cursor: pointer;
    font-size: 20px;
}
.logout-btn:hover{
    background-color: #4291f8;
}

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main-calculator{
    padding: 20px;
    background: linear-gradient(120deg, #7476f4, #9394e2);
    border-radius: 10px;
    font-family: sans-serif;
    color: #2c2d50;
}
input{
    font-weight: 900;
    font-size: 30px;
    padding: 10px;
    background: none;
    color: #f0efef;
    border: #505082 solid;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px #2c2d50;
    outline: none;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 20px;
}
.keys-btn{
    padding: 10px 15px;
    font-size: 30px;
    font-weight: 800;
    box-shadow: 0 0 10px #f0efef;
    border: none;
    background: linear-gradient(120deg, #7476f4, #9394e2);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.keys-btn:hover{
    background: linear-gradient(120deg, #8587ef, #b5b6f1);
}

.keys-btn:active{
    background: linear-gradient(120deg, #ccccf9, #dadaf6);
}

@media (max-width: 470px){
    nav{
        height: 40px;
        font-size: 15px;
    }
    .logout-btn{
        padding: 14px 30px;
        font-size: 15px;
        margin: 65px 0px;
    }
    .keys-btn{
        padding: 19px 5px;
        font-size: 20px;
        width: 80px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .keys{
        gap: 2px;
        justify-content: center;
        align-items: center;
    }
    .main-calculator{
        width: 390px;
        box-shadow: 0 0 10px #7476f4;
    }
    nav h1{
        margin-top: -35px;
    }
}




@media (min-width: 600px) and (max-width: 899px){
    /* Tablet Screen Size */
}


@media (min-width: 900px) and (max-width: 1199px){
    /* Desktop Screen */
}


@media (min-width: 1200px){
    /* Large Minintor screen */
}