*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
}
:root{
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #6c757d;
    --color-gray-dark: #343a40;
    --color-gray-100: #f8f9fa;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-button-500: #8a929a;
    --color-button-active-hover: #4b8cc4;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;
}
.navigations{
    display: flex;
    justify-content: center;
    background-color: var(--color-gray-500);
    box-shadow: 0 0 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.navigations .logo img{
    width: 140px;
    height: 150px;
}
nav{
    display: flex;
    padding: 35px 300px;
}
nav ul{
    display: flex;
    gap: 20px;
    text-align: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    background-color: var(--color-gray-600);
    color: var(--color-gray-200);
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    font-weight: 800;
}
nav ul li a:hover{
    background-color: var(--color-gray-700);
}
nav ul li .home{
    background-color: var(--color-gray-700);
}
nav ul li .home:hover{
    background-color: var(--color-button-active-hover);
}

.hero{
    width: 100%;
    background-color: var(--color-gray-400);
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: 900;
    font-size: 30px;
    color: var(--color-gray-800);
}
.hero div{
    background: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.ab{
    align-items: center;
    justify-content: center;
}
.hero p{
    font-weight: 500;
    font-size: 25px;
    width: 50%;
    align-items: center;
    color: var(--color-gray-700);
    padding: 40px 30px;
    border: solid 5px #6c757d;
    margin: 70px 0;
    border-radius: 5px;
    box-shadow: 0 0 40px ;
}
.hero img{
    width: 750px;
    height: 750px;
    animation: hero 1.5s infinite alternate-reverse ease-in-out;
    margin-top: 200px;
}

@keyframes hero {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10%);
    }
}

section{
    margin: 30px 0;
    display: grid;
    grid-row: auto;
}

.section-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#sec1{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    box-shadow: 0 0 10px;
}
.section__body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 30px;
    width: 100%;
}
.section1__title{
    padding: 0 0 40px 0;
}

.sec1{
    border: solid #495057;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    font-size: 20px;
    aspect-ratio: 4 / 3;
    box-sizing: border-box;
}

.book-img{
    width: 70px;
    height: 90px;
}

form{
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: center;
}

input{
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 0.1px #8a929a;
    outline: solid 1.1px #212529;
    font-size: 16px;
    background-color: #e9ecef;
}
.form-sub{
    border-radius: 10px;
    width: 800px;
    align-items: center;
    justify-content: center;
}
.submitform-btn{
    background-color: #495057;
    color: #e9ecef;
    width: 300px;
    cursor: pointer;
    font-size: 19px;
    transition: ease-out 0.3s;
}
.submitform-btn:hover{
    background-color: #6c757d;
}
textarea{
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
    height: 200px;
    font-size: 17px;
    background-color: #e9ecef;
    border-radius: 5px;
    border: solid 0.1px #8a929a;
    outline: solid 1.1px #212529;
}